In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
import seaborn as sns

In [2]:
train_data=pd.read_csv(r"C:\Users\varun\Downloads\663e2b6d54457_train_data_with_samplefeatures.csv")
test_data=pd.read_csv(r"C:\Users\varun\Downloads\data.csv")
batsman_data=pd.read_csv(r"C:\Users\varun\Downloads\663e2b548c98c_batsman_level_scorecard.csv")
bowler_data=pd.read_csv(r"C:\Users\varun\Downloads\663e2b2c60743_bowler_level_scorecard.csv")
match_data=pd.read_csv(r"C:\Users\varun\Downloads\664389efa0868_match_level_scorecard.csv")

In [3]:
train_data['match_dt'] = pd.to_datetime(train_data['match_dt'])
train_data=train_data.sort_values(by='match_dt')
train_data=train_data.reset_index(drop=True)

batsman_data['match_dt'] = pd.to_datetime(batsman_data['match_dt'])
batsman_data=batsman_data.sort_values(by='match_dt')
test_data=test_data.reset_index(drop=True)

bowler_data['match_dt'] = pd.to_datetime(bowler_data['match_dt'])
bowler_data=bowler_data.sort_values(by='match_dt')
bowler_data=bowler_data.reset_index(drop=True)

match_data['match_dt'] = pd.to_datetime(match_data['match_dt'])
match_data=match_data.sort_values(by='match_dt')
match_data=match_data.reset_index(drop=True)

# Batsman

In [4]:
batsman_data.columns

Index(['match id', 'batsman', 'batsman_id', 'batsman_details',
       'is_batsman_captain', 'is_batsman_keeper', 'inning', 'runs',
       'balls_faced', 'over_faced_first', 'wicket kind', 'out_by_bowler',
       'out_by_fielder', 'bowler_id', 'bowler_details', 'is_bowler_keeper',
       'is_bowler_captain', 'strike_rate', 'Fours', 'Sixes', 'match_dt'],
      dtype='object')

In [5]:
batsman_data.describe()

,match id,batsman_id,is_batsman_captain,is_batsman_keeper,inning,runs,balls_faced,over_faced_first,bowler_id,is_bowler_keeper,is_bowler_captain,strike_rate,Fours,Sixes
count,2.448300e+04,2.448300e+04,24483.000000,24483.000000,24483.000000,24483.000000,24483.000000,24483.000000,1.812800e+04,18698.0,18128.000000,24474.000000,14200.000000,8994.000000
mean,9.105542e+06,4.129075e+06,0.113957,0.113589,1.490136,18.296491,14.140383,9.192093,4.368210e+06,0.0,0.056873,110.319366,2.731056,1.951523
std,3.187236e+05,2.435776e+06,0.317765,0.317318,0.499913,20.251578,12.774643,6.785681,2.379752e+06,0.0,0.231607,68.869285,2.142437,1.410311
min,8.587795e+06,3.146400e+04,0.000000,0.000000,1.000000,0.000000,0.000000,1.100000,3.406100e+04,0.0,0.000000,0.000000,1.000000,1.000000
25%,8.778825e+06,2.231928e+06,0.000000,0.000000,1.000000,3.000000,4.000000,2.100000,2.538983e+06,0.0,0.000000,64.290000,1.000000,1.000000
50%,9.085075e+06,3.729970e+06,0.000000,0.000000,1.000000,11.000000,10.000000,8.500000,3.913475e+06,0.0,0.000000,108.330000,2.000000,1.000000
75%,9.407600e+06,6.095508e+06,0.000000,0.000000,2.000000,27.000000,20.000000,15.500000,6.399210e+06,0.0,0.000000,150.000000,4.000000,2.000000
max,9.887863e+06,9.883250e+06,1.000000,1.000000,2.000000,162.000000,75.000000,20.900000,9.888584e+06,0.0,1.000000,600.000000,22.000000,13.000000

In [6]:
date=train_data['match_dt'][0]

In [7]:
filtered_data = batsman_data[batsman_data['match_dt'] < date]
all_batsman_ids = batsman_data['batsman_id'].unique()

# Group by batsman and aggregate statistics
aggregated_data = filtered_data.groupby('batsman_id').agg({
    'runs': 'sum',
    'balls_faced': 'sum',
    'Fours': 'sum',
    'Sixes': 'sum'
}).reset_index()

batsman_details = pd.DataFrame({'batsman_id': all_batsman_ids})
batsman_details = batsman_details.merge(aggregated_data, on='batsman_id', how='left').fillna(0)

# Calculate the strike rate
batsman_details['strike_rate'] = (batsman_details['runs'] / batsman_details['balls_faced']) * 100
batsman_details['strike_rate'] = batsman_details['strike_rate'].replace([float('inf'), -float('inf')], 0)  # Handling division by zero

In [8]:
batsman_details

      batsman_id    runs  balls_faced  Fours  Sixes  strike_rate
0      7907451.0   222.0        156.0   25.0    9.0   142.307692
1      2083409.0   793.0        583.0   69.0   28.0   136.020583
2        36665.0   208.0        171.0   19.0    4.0   121.637427
3      1749075.0  1233.0        774.0  140.0   57.0   159.302326
4      1506098.0   468.0        336.0   61.0    7.0   139.285714
...          ...     ...          ...    ...    ...          ...
2113   9403421.0     0.0          0.0    0.0    0.0          NaN
2114   1636004.0     0.0          0.0    0.0    0.0          NaN
2115   7907458.0     0.0          0.0    0.0    0.0          NaN
2116   9883250.0     0.0          0.0    0.0    0.0          NaN
2117   9059021.0     0.0          0.0    0.0    0.0          NaN

[2118 rows x 6 columns]

In [9]:
import pandas as pd

def strike_rate(roster_ids, batsman_details, batsman_data,match_id):
    ID = [int(id.split('.')[0]) for id in roster_ids.split(':')]
    count_sr = 0
    
    for i in ID:
        index1 = batsman_details.index[batsman_details['batsman_id'] == i]
        if not index1.empty:
            index_1 = index1[0]
            if batsman_details.at[index_1, 'strike_rate'] >= 120:
                count_sr += 1
                
            index2=batsman_data[(batsman_data['batsman_id']==i) & (batsman_data['match id']==match_id)].index
            if not index2.empty:
                index_2 = index2[0]
                batsman_details['runs'][index_1]+=batsman_data['runs'][index_2]
                batsman_details['balls_faced'][index_1]+=batsman_data['balls_faced'][index_2]
                batsman_details['Fours'][index_1]+=batsman_data['Fours'][index_2]
                batsman_details['Sixes'][index_1]+=batsman_data['Sixes'][index_2]
                batsman_details['strike_rate'][index_1] = (batsman_details['runs'][index_1] / batsman_details['balls_faced'][index_1]) * 100
    
    return count_sr

In [10]:
#For train_data
for k in range(train_data.shape[0]):
    team1_count_sr = strike_rate(train_data['team1_roster_ids'][k], batsman_details, batsman_data,train_data['match id'][k])
    team2_count_sr = strike_rate(train_data['team2_roster_ids'][k], batsman_details, batsman_data,train_data['match id'][k])

    train_data.at[k, 'PlayersSRgreaterthan120_team1'] = team1_count_sr
    train_data.at[k, 'PlayersSRgreaterthan120_team2'] = team2_count_sr

C:\Users\varun\AppData\Local\Temp\ipykernel_9780\746430297.py:21: RuntimeWarning: invalid value encountered in double_scalars
  batsman_details['strike_rate'][index_1] = (batsman_details['runs'][index_1] / batsman_details['balls_faced'][index_1]) * 100

In [11]:
train_data.describe()

,match id,team1_id,team2_id,winner_id,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,PlayersSRgreaterthan120_team1,PlayersSRgreaterthan120_team2
count,9.480000e+02,948.000000,948.000000,948.000000,948.000000,948.000000,948.000000,927.000000,948.000000,895.000000,948.000000,948.000000
mean,9.323234e+06,21921.722574,21768.040084,21722.776371,7163.773207,1.202602,4.904243,161.578491,40.991561,153.822446,6.094937,6.119198
std,2.302622e+05,17657.672717,17555.597707,17596.249007,6932.193437,1.008793,15.839620,14.449746,37.948831,13.971631,2.486597,2.494245
min,8.797053e+06,20.000000,20.000000,20.000000,83.000000,0.083333,0.009901,103.000000,0.000000,81.500000,0.000000,0.000000
25%,9.097078e+06,6838.000000,7258.000000,7258.000000,1378.000000,0.686678,0.603960,153.400000,0.000000,145.381818,5.000000,5.000000
50%,9.330600e+06,18360.000000,17982.000000,17863.000000,4661.000000,1.000000,1.000000,163.125000,40.000000,154.666667,7.000000,7.000000
75%,9.484520e+06,36126.000000,36126.000000,36112.000000,11892.000000,1.400000,1.952381,171.276190,66.670000,162.426768,8.000000,8.000000
max,9.887863e+06,49657.000000,49657.000000,49657.000000,25479.000000,11.000000,101.000000,218.500000,100.000000,209.500000,11.000000,11.000000

# Bowler

In [12]:
bowler_data.describe()

,match id,bowler_id,is_bowler_captain,is_bowler_keeper,inning,runs,wicket_count,balls_bowled,economy,maiden,dots,Fours,Sixes,wides,noballs
count,1.853900e+04,1.853900e+04,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000,18539.000000
mean,9.102037e+06,4.417985e+06,0.063811,0.000054,1.494201,25.084147,0.997896,18.747505,8.367395,0.033605,7.043314,2.100005,0.943632,0.629700,0.081018
std,3.201571e+05,2.444409e+06,0.244423,0.007344,0.499980,10.835197,1.050482,6.221394,3.260218,0.186972,3.840311,1.605844,1.073823,0.937492,0.314390
min,8.587795e+06,3.406100e+04,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.778755e+06,2.533666e+06,0.000000,0.000000,1.000000,17.000000,0.000000,12.000000,6.000000,0.000000,4.000000,1.000000,0.000000,0.000000,0.000000
50%,9.085012e+06,4.001934e+06,0.000000,0.000000,1.000000,25.000000,1.000000,20.000000,8.000000,0.000000,7.000000,2.000000,1.000000,0.000000,0.000000
75%,9.388539e+06,6.487970e+06,0.000000,0.000000,2.000000,32.000000,2.000000,24.000000,10.000000,0.000000,10.000000,3.000000,1.000000,1.000000,0.000000
max,9.887863e+06,9.888584e+06,1.000000,1.000000,2.000000,77.000000,6.000000,25.000000,36.000000,3.000000,24.000000,11.000000,9.000000,8.000000,5.000000

In [13]:
bowler_data.shape[0]

18539

In [14]:
bowler_data.columns

Index(['match id', 'bowler', 'bowler_id', 'bowler_details',
       'is_bowler_captain', 'is_bowler_keeper', 'inning', 'runs',
       'wicket_count', 'balls_bowled', 'economy', 'maiden', 'dots', 'Fours',
       'Sixes', 'wides', 'noballs', 'match_dt'],
      dtype='object')

In [15]:
filtered_data = bowler_data[bowler_data['match_dt'] < date]
all_bowler_ids = bowler_data['bowler_id'].unique()

# Group by batsman and aggregate statistics
aggregated_data = filtered_data.groupby('bowler_id').agg({
    'runs': 'sum',
    'wicket_count': 'sum',
    'balls_bowled': 'sum',
    'Fours': 'sum',
    'Sixes': 'sum',
    'maiden': 'sum',
    'dots': 'sum',
    'wides': 'sum',
    'noballs': 'sum'
}).reset_index()

bowler_details = pd.DataFrame({'bowler_id': all_bowler_ids})
bowler_details = bowler_details.merge(aggregated_data, on='bowler_id', how='left').fillna(0)

# Calculate the strike rate
bowler_details['economy'] = (bowler_details['runs'] / bowler_details['balls_bowled']) * 6
bowler_details['economy'] = bowler_details['economy'].replace([float('inf'), -float('inf')], 0)  # Handling division by zero

In [16]:
bowler_details.describe()

,bowler_id,runs,wicket_count,balls_bowled,Fours,Sixes,maiden,dots,wides,noballs,economy
count,1.541000e+03,1541.000000,1541.000000,1541.000000,1541.000000,1541.000000,1541.000000,1541.000000,1541.000000,1541.000000,937.000000
mean,5.409926e+06,123.952628,4.963660,94.377677,10.340039,4.504218,0.168073,35.511356,3.081116,0.391953,8.454171
std,2.695434e+06,193.098161,8.573591,149.579215,16.761579,7.319926,0.523146,58.761056,6.010427,1.150737,2.591712
min,3.406100e+04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.102854e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.131313
50%,5.425146e+06,33.000000,1.000000,24.000000,2.000000,1.000000,0.000000,7.000000,0.000000,0.000000,8.000000
75%,8.058840e+06,171.000000,7.000000,128.000000,14.000000,6.000000,0.000000,47.000000,4.000000,0.000000,9.135279
max,9.888584e+06,1316.000000,74.000000,1180.000000,109.000000,48.000000,4.000000,473.000000,64.000000,11.000000,27.000000

In [17]:
train_data.columns

Index(['match id', 'team1', 'team1_id', 'team1_roster_ids', 'team2',
       'team2_id', 'team2_roster_ids', 'winner', 'winner_id', 'toss winner',
       'toss decision', 'venue', 'city', 'match_dt', 'lighting', 'series_name',
       'season', 'ground_id', 'team_count_50runs_last15', 'team_winp_last5',
       'team1only_avg_runs_last15', 'team1_winp_team2_last15',
       'ground_avg_runs_last15', 'PlayersSRgreaterthan120_team1',
       'PlayersSRgreaterthan120_team2'],
      dtype='object')

In [18]:
import pandas as pd

def economy_rate(roster_ids, bowler_details, bowler_data,match_id):
    ID = [int(id.split('.')[0]) for id in roster_ids.split(':')]
    count_economy = 0
    
    for i in ID:
        index1 = bowler_details.index[bowler_details['bowler_id'] == i]
        if not index1.empty:
            index_1 = index1[0]
            if bowler_details.at[index_1, 'economy'] <=10:
                count_economy += 1
                
            index2=bowler_data[(bowler_data['bowler_id']==i) & (bowler_data['match id']==match_id)].index
            if not index2.empty:
                index_2 = index2[0]
                bowler_details['runs'][index_1]+=bowler_data['runs'][index_2]
                bowler_details['wicket_count'][index_1]+=bowler_data['wicket_count'][index_2]
                bowler_details['balls_bowled'][index_1]+=bowler_data['balls_bowled'][index_2]
                bowler_details['Fours'][index_1]+=bowler_data['Fours'][index_2]
                bowler_details['Sixes'][index_1]+=bowler_data['Sixes'][index_2]
                bowler_details['maiden'][index_1]+=bowler_data['maiden'][index_2]
                bowler_details['dots'][index_1]+=bowler_data['dots'][index_2]
                bowler_details['wides'][index_1]+=bowler_data['wides'][index_2]
                bowler_details['noballs'][index_1]+=bowler_data['noballs'][index_2]
                bowler_details['economy'][index_1] = (bowler_details['runs'][index_1] / bowler_details['balls_bowled'][index_1]) * 6
    
    return count_economy

In [19]:
for k in range(train_data.shape[0]):
    team1_count_economy = economy_rate(train_data['team1_roster_ids'][k], bowler_details, bowler_data,train_data['match id'][k])
    team2_count_economy= economy_rate(train_data['team2_roster_ids'][k], bowler_details, bowler_data,train_data['match id'][k])

    train_data.at[k, 'Playerseconomylessthan10_team1'] = team1_count_economy
    train_data.at[k, 'Playerseconomylessthan10_team2'] = team2_count_economy

In [20]:
train_data.describe()

,match id,team1_id,team2_id,winner_id,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,PlayersSRgreaterthan120_team1,PlayersSRgreaterthan120_team2,Playerseconomylessthan10_team1,Playerseconomylessthan10_team2
count,9.480000e+02,948.000000,948.000000,948.000000,948.000000,948.000000,948.000000,927.000000,948.000000,895.000000,948.000000,948.000000,948.000000,948.000000
mean,9.323234e+06,21921.722574,21768.040084,21722.776371,7163.773207,1.202602,4.904243,161.578491,40.991561,153.822446,6.094937,6.119198,6.296414,6.329114
std,2.302622e+05,17657.672717,17555.597707,17596.249007,6932.193437,1.008793,15.839620,14.449746,37.948831,13.971631,2.486597,2.494245,1.641498,1.688934
min,8.797053e+06,20.000000,20.000000,20.000000,83.000000,0.083333,0.009901,103.000000,0.000000,81.500000,0.000000,0.000000,0.000000,0.000000
25%,9.097078e+06,6838.000000,7258.000000,7258.000000,1378.000000,0.686678,0.603960,153.400000,0.000000,145.381818,5.000000,5.000000,6.000000,6.000000
50%,9.330600e+06,18360.000000,17982.000000,17863.000000,4661.000000,1.000000,1.000000,163.125000,40.000000,154.666667,7.000000,7.000000,7.000000,7.000000
75%,9.484520e+06,36126.000000,36126.000000,36112.000000,11892.000000,1.400000,1.952381,171.276190,66.670000,162.426768,8.000000,8.000000,7.000000,7.000000
max,9.887863e+06,49657.000000,49657.000000,49657.000000,25479.000000,11.000000,101.000000,218.500000,100.000000,209.500000,11.000000,11.000000,10.000000,10.000000

# Match

In [21]:
match_data.columns

Index(['match id', 'team1', 'team2', 'winner', 'by', 'win amount',
       'toss winner', 'toss decision', 'venue', 'city', 'match_dt', 'lighting',
       'series_name', 'season', 'ground_id', 'umpire1', 'umpire2',
       'inning1_runs', 'inning1_wickets', 'inning1_balls', 'inning2_runs',
       'inning2_wickets', 'inning2_balls', 'team1_id', 'team1_roster_ids',
       'team2_id', 'team2_roster_ids', 'series_type', 'winner_id',
       'player_of_the_match_id'],
      dtype='object')

In [22]:
match_data

,match id,team1,team2,winner,by,win amount,toss winner,toss decision,venue,city,...,inning2_runs,inning2_wickets,inning2_balls,team1_id,team1_roster_ids,team2_id,team2_roster_ids,series_type,winner_id,player_of_the_match_id
0,8638034,Nn Ds,Wn,Wn,wickets,9.0,Wn,field,By Ol,Mount Maunganui,...,152.0,1.0,97.0,17982,7907451.0:4381761.0:31464.0:258649.0:4949790.0...,18570,2653993.0:6718326.0:6718382.0:2486896.0:228878...,other_domestic,18570,NaN
1,8588005,Me Rs,Sy Tr,Sy Tr,runs,7.0,Sy Tr,field,Ca Ol,Carrara,...,117.0,2.0,74.0,33942,37351.0:46794.0:5406540.0:2231928.0:181404.0:1...,33963,1506098.0:1749075.0:36665.0:2083409.0:7534652....,other_domestic,33963,1749075.0
2,8587837,Sy Ss,Be Ht,Be Ht,wickets,4.0,Sy Ss,bat,Be Ct Gd,Brisbane,...,171.0,6.0,119.0,33956,7869987.0:7620283.0:2076192.0:4002340.0:306369...,33921,7620269.0:2286437.0:87191.0:5786766.0:3114803....,other_domestic,33921,3890984.0
3,8638041,Nn Ds,Oo,Oo,wickets,2.0,Oo,field,By Ol,Mount Maunganui,...,156.0,8.0,126.0,17982,7907451.0:4381761.0:31464.0:4949790.0:258649.0...,18360,2319638.0:256080.0:7918280.0:3913447.0:2690498...,other_domestic,18360,NaN
4,8587921,Ht Hs,Me Ss,Ht Hs,runs,21.0,Me Ss,field,Be Ol,Hobart,...,143.0,9.0,123.0,33928,4223883.0:2161599.0:1655436.0:5788418.0:319948...,33949,363047.0:2275097.0:3901078.0:2275195.0:4230127...,other_domestic,33928,3125849.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1684,9717504,Nw Zd,Bh,Bh,wickets,5.0,Bh,field,Mn Pk Nr,Napier,...,137.0,5.0,114.0,48,6718326.0:4381761.0:2672214.0:5764576.0:306995...,188,3758565.0:2104332.0:4403419.0:3056752.0:693023...,international,188,5831622.0
1685,9866373,Oo,Wn,Wn,wickets,9.0,Oo,bat,Mx Pk Aa,Alexandra,...,53.0,1.0,29.0,18360,2319638.0:8444855.0:4172706.0:7907444.0:631714...,18570,9036516.0:8271969.0:3913447.0:9523954.0:835478...,other_domestic,18570,6718410.0
1686,9702783,Ht Hs,Me Ss,Me Ss,wickets,7.0,Me Ss,field,Be Ol Ht,Hobart,...,67.0,3.0,42.0,33928,1611364.0:5843200.0:5716402.0:3890963.0:194364...,33949,5406540.0:2275195.0:2275097.0:3901078.0:796099...,other_domestic,33949,2275195.0
1687,9702790,Ae Ss,Me Rs,Me Rs,wickets,4.0,Ae Ss,bat,Ds Sm Me,Melbourne,...,178.0,5.0,115.0,33914,4239038.0:2161599.0:2286472.0:5469008.0:368195...,33942,4003390.0:2654014.0:8176356.0:46794.0:1635773....,other_domestic,33942,8176356.0
1688,9887863,Ud Ab Es,An,Ud Ab Es,runs,11.0,Ud Ab Es,bat,Sh Ct Sm,Sharjah,...,155.0,10.0,121.0,202,8688952.0:7412936.0:8250115.0:8463783.0:988325...,293,5554212.0:6818622.0:6450576.0:3668356.0:181404...,international,202,8489816.0

In [23]:
# Parse the match date column to datetime
match_data['match_dt'] = pd.to_datetime(match_data['match_dt'])

# Initialize an empty list to store the results
team_stats_list = []

# Loop over each unique team
for team_id in pd.concat([match_data['team1_id'], match_data['team2_id']]).unique():
    team_matches = match_data[(match_data['team1_id'] == team_id) | (match_data['team2_id'] == team_id)]
    
    team_runs_wickets = []
    
    for _, row in team_matches.iterrows():
        # Determine if the team is team1 or team2
        is_team1 = row['team1_id'] == team_id
        
        # Determine if the team batted in the first or second inning
        if (is_team1 and row['toss winner'] == row['team1'] and row['toss decision'] == 'bat') or \
           (not is_team1 and row['toss winner'] == row['team2'] and row['toss decision'] == 'bat') or \
           (is_team1 and row['toss winner'] == row['team2'] and row['toss decision'] == 'field') or \
           (not is_team1 and row['toss winner'] == row['team1'] and row['toss decision'] == 'field'):
            inning_runs = row['inning1_runs']
            inning_wickets = row['inning1_wickets']
        else:
            inning_runs = row['inning2_runs']
            inning_wickets = row['inning2_wickets']
        
        team_runs_wickets.append((inning_runs, inning_wickets, row['match_dt']))
    
    team_runs_wickets_df = pd.DataFrame(team_runs_wickets, columns=['runs', 'wickets', 'match_dt'])
    team_runs_wickets_df = team_runs_wickets_df.sort_values(by='match_dt')
    team_runs_wickets_df['cum_avg_runs'] = team_runs_wickets_df['runs'].expanding().mean()
    team_runs_wickets_df['cum_avg_wickets'] = team_runs_wickets_df['wickets'].expanding().mean()
    
    team_stats_list.append((team_id, 
                            team_runs_wickets_df['cum_avg_runs'].iloc[-1], 
                            team_runs_wickets_df['cum_avg_wickets'].iloc[-1]))

# Convert the list to a DataFrame
team_stats_df = pd.DataFrame(team_stats_list, columns=['team_id', 'cum_avg_runs', 'cum_avg_wickets'])

In [24]:
team_stats_df

     team_id  cum_avg_runs  cum_avg_wickets
0      17982    144.000000         6.120000
1      33942    146.875000         7.125000
2      33956    157.657895         5.868421
3      33928    158.382353         6.852941
4      17583    147.869565         7.000000
..       ...           ...              ...
169    28594    141.000000         4.000000
170     1210    114.333333         7.666667
171     1196    126.000000         4.000000
172     1322    106.000000        10.000000
173      125    121.000000         8.000000

[174 rows x 3 columns]

In [25]:
import pandas as pd

# Assuming match_data and train_data are already loaded into DataFrames
# match_data = pd.read_csv('path_to_your_match_data.csv')
# train_data = pd.read_csv('path_to_your_train_data.csv')

# Parse the match date column to datetime
match_data['match_dt'] = pd.to_datetime(match_data['match_dt'])
train_data['match_dt'] = pd.to_datetime(train_data['match_dt'])

# Function to calculate cumulative averages
def calculate_cumulative_averages(team_runs_wickets):
    team_runs_wickets = team_runs_wickets.sort_values(by='match_dt')
    team_runs_wickets['cum_avg_runs'] = team_runs_wickets['runs'].expanding().mean()
    team_runs_wickets['cum_avg_wickets'] = team_runs_wickets['wickets'].expanding().mean()
    return team_runs_wickets

# Create a dictionary from team_stats_df for quick lookup and update
team_stats = team_stats_df.set_index('team_id').T.to_dict()

# Initialize columns for the train_data DataFrame
train_data['team1_avg_runs'] = 0
train_data['team1_avg_wickets'] = 0
train_data['team2_avg_runs'] = 0
train_data['team2_avg_wickets'] = 0

# Iterate through each row in the train_data DataFrame
for i, row in train_data.iterrows():
    team1_id = row['team1_id']
    team2_id = row['team2_id']
    match_id = row['match id']
    
    # Add current averages to train_data
    train_data.at[i, 'team1_avg_runs'] = team_stats[team1_id]['cum_avg_runs']
    train_data.at[i, 'team1_avg_wickets'] = team_stats[team1_id]['cum_avg_wickets']
    train_data.at[i, 'team2_avg_runs'] = team_stats[team2_id]['cum_avg_runs']
    train_data.at[i, 'team2_avg_wickets'] = team_stats[team2_id]['cum_avg_wickets']
    
    # Update the averages in team_stats based on the match results
    match_row = match_data[match_data['match id'] == match_id].iloc[0]
    
    # Team 1 updates
    if (match_row['toss winner'] == match_row['team1'] and match_row['toss decision'] == 'bat') or \
       (match_row['toss winner'] == match_row['team2'] and match_row['toss decision'] == 'field'):
        team1_runs = match_row['inning1_runs']
        team1_wickets = match_row['inning1_wickets']
    else:
        team1_runs = match_row['inning2_runs']
        team1_wickets = match_row['inning2_wickets']
        
    team_stats[team1_id]['runs'] = team_stats[team1_id].get('runs', []) + [team1_runs]
    team_stats[team1_id]['wickets'] = team_stats[team1_id].get('wickets', []) + [team1_wickets]
    
    # Team 2 updates
    if (match_row['toss winner'] == match_row['team2'] and match_row['toss decision'] == 'bat') or \
       (match_row['toss winner'] == match_row['team1'] and match_row['toss decision'] == 'field'):
        team2_runs = match_row['inning1_runs']
        team2_wickets = match_row['inning1_wickets']
    else:
        team2_runs = match_row['inning2_runs']
        team2_wickets = match_row['inning2_wickets']
        
    team_stats[team2_id]['runs'] = team_stats[team2_id].get('runs', []) + [team2_runs]
    team_stats[team2_id]['wickets'] = team_stats[team2_id].get('wickets', []) + [team2_wickets]
    
    # Recalculate the cumulative averages
    team1_df = pd.DataFrame({'runs': team_stats[team1_id]['runs'], 'wickets': team_stats[team1_id]['wickets'], 'match_dt': [row['match_dt']] * len(team_stats[team1_id]['runs'])})
    team1_df = calculate_cumulative_averages(team1_df)
    team_stats[team1_id]['cum_avg_runs'] = team1_df['cum_avg_runs'].iloc[-1]
    team_stats[team1_id]['cum_avg_wickets'] = team1_df['cum_avg_wickets'].iloc[-1]
    
    team2_df = pd.DataFrame({'runs': team_stats[team2_id]['runs'], 'wickets': team_stats[team2_id]['wickets'], 'match_dt': [row['match_dt']] * len(team_stats[team2_id]['runs'])})
    team2_df = calculate_cumulative_averages(team2_df)
    team_stats[team2_id]['cum_avg_runs'] = team2_df['cum_avg_runs'].iloc[-1]
    team_stats[team2_id]['cum_avg_wickets'] = team2_df['cum_avg_wickets'].iloc[-1]

In [26]:
train_data.head()

,match id,team1,team1_id,team1_roster_ids,team2,team2_id,team2_roster_ids,winner,winner_id,toss winner,...,team1_winp_team2_last15,ground_avg_runs_last15,PlayersSRgreaterthan120_team1,PlayersSRgreaterthan120_team2,Playerseconomylessthan10_team1,Playerseconomylessthan10_team2,team1_avg_runs,team1_avg_wickets,team2_avg_runs,team2_avg_wickets
0,8887675,Be Ht,33921,2286472.0:3114803.0:3651472.0:5786766.0:762026...,Ht Hs,33928,1611364.0:4223883.0:2161599.0:6381962.0:234037...,Be Ht,33921,Ht Hs,...,0.0,162.333333,5.0,9.0,6.0,7.0,153,6,158,6
1,8887689,Ph Ss,33935,3507090.0:3535783.0:1626526.0:1798705.0:350188...,Me Ss,33949,4003390.0:7960994.0:2275195.0:4393374.0:390107...,Ph Ss,33935,Ph Ss,...,100.0,NaN,7.0,5.0,7.0,4.0,163,4,147,6
2,8887703,Me Ss,33949,2340519.0:7880018.0:4393374.0:2275195.0:390107...,Me Rs,33942,5406540.0:37351.0:46794.0:2336473.0:7534687.0:...,Me Rs,33942,Me Ss,...,50.0,162.687500,4.0,6.0,6.0,7.0,130,10,146,7
3,8887717,Ht Hs,33928,4223883.0:1611364.0:2161599.0:2340372.0:584320...,Ae Ss,33914,4239038.0:5492318.0:5056134.0:1635773.0:546900...,Ae Ss,33914,Ae Ss,...,100.0,161.045455,10.0,5.0,5.0,6.0,136,8,153,6
4,8887731,Be Ht,33921,3062149.0:8415665.0:3585350.0:5786766.0:153920...,Me Rs,33942,5406540.0:37351.0:46794.0:2336473.0:7537067.0:...,Me Rs,33942,Me Rs,...,100.0,NaN,3.0,8.0,1.0,7.0,150,8,129,5

In [27]:
train_data.count()

match id                          948
team1                             948
team1_id                          948
team1_roster_ids                  948
team2                             948
team2_id                          948
team2_roster_ids                  948
winner                            948
winner_id                         948
toss winner                       948
toss decision                     948
venue                             948
city                              948
match_dt                          948
lighting                          948
series_name                       948
season                            948
ground_id                         948
team_count_50runs_last15          948
team_winp_last5                   948
team1only_avg_runs_last15         927
team1_winp_team2_last15           948
ground_avg_runs_last15            895
PlayersSRgreaterthan120_team1     948
PlayersSRgreaterthan120_team2     948
Playerseconomylessthan10_team1    948
Playerseconomylessthan10_team2    948
team1_avg_runs                    948
team1_avg_wickets                 948
team2_avg_runs                    948
team2_avg_wickets                 948
dtype: int64

In [28]:
train_data.describe()

,match id,team1_id,team2_id,winner_id,ground_id,team_count_50runs_last15,team_winp_last5,team1only_avg_runs_last15,team1_winp_team2_last15,ground_avg_runs_last15,PlayersSRgreaterthan120_team1,PlayersSRgreaterthan120_team2,Playerseconomylessthan10_team1,Playerseconomylessthan10_team2,team1_avg_runs,team1_avg_wickets,team2_avg_runs,team2_avg_wickets
count,9.480000e+02,948.000000,948.000000,948.000000,948.000000,948.000000,948.000000,927.000000,948.000000,895.000000,948.000000,948.000000,948.000000,948.000000,948.000000,948.000000,948.000000,948.000000
mean,9.323234e+06,21921.722574,21768.040084,21722.776371,7163.773207,1.202602,4.904243,161.578491,40.991561,153.822446,6.094937,6.119198,6.296414,6.329114,152.568565,6.026371,153.086498,5.907173
std,2.302622e+05,17657.672717,17555.597707,17596.249007,6932.193437,1.008793,15.839620,14.449746,37.948831,13.971631,2.486597,2.494245,1.641498,1.688934,19.280088,1.346253,17.820260,1.301381
min,8.797053e+06,20.000000,20.000000,20.000000,83.000000,0.083333,0.009901,103.000000,0.000000,81.500000,0.000000,0.000000,0.000000,0.000000,40.000000,2.000000,81.000000,1.000000
25%,9.097078e+06,6838.000000,7258.000000,7258.000000,1378.000000,0.686678,0.603960,153.400000,0.000000,145.381818,5.000000,5.000000,6.000000,6.000000,142.000000,5.000000,143.750000,5.000000
50%,9.330600e+06,18360.000000,17982.000000,17863.000000,4661.000000,1.000000,1.000000,163.125000,40.000000,154.666667,7.000000,7.000000,7.000000,7.000000,155.000000,6.000000,154.000000,6.000000
75%,9.484520e+06,36126.000000,36126.000000,36112.000000,11892.000000,1.400000,1.952381,171.276190,66.670000,162.426768,8.000000,8.000000,7.000000,7.000000,165.000000,7.000000,165.000000,7.000000
max,9.887863e+06,49657.000000,49657.000000,49657.000000,25479.000000,11.000000,101.000000,218.500000,100.000000,209.500000,11.000000,11.000000,10.000000,10.000000,228.000000,10.000000,227.000000,10.000000

In [29]:
train_data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
943    False
944    False
945    False
946    False
947    False
Length: 948, dtype: bool

In [30]:
train_data.ground_avg_runs_last15 .mode()[0]
train_data.ground_avg_runs_last15 .fillna(train_data.ground_avg_runs_last15 .mode()[0] , inplace=True)

In [31]:
train_data.team1only_avg_runs_last15 .mode()[0]
train_data.team1only_avg_runs_last15 .fillna(train_data.team1only_avg_runs_last15 .mode()[0] , inplace=True)

In [32]:
train_data.count()

match id                          948
team1                             948
team1_id                          948
team1_roster_ids                  948
team2                             948
team2_id                          948
team2_roster_ids                  948
winner                            948
winner_id                         948
toss winner                       948
toss decision                     948
venue                             948
city                              948
match_dt                          948
lighting                          948
series_name                       948
season                            948
ground_id                         948
team_count_50runs_last15          948
team_winp_last5                   948
team1only_avg_runs_last15         948
team1_winp_team2_last15           948
ground_avg_runs_last15            948
PlayersSRgreaterthan120_team1     948
PlayersSRgreaterthan120_team2     948
Playerseconomylessthan10_team1    948
Playerseconomylessthan10_team2    948
team1_avg_runs                    948
team1_avg_wickets                 948
team2_avg_runs                    948
team2_avg_wickets                 948
dtype: int64

In [33]:
train_data.dtypes

match id                                   int64
team1                                     object
team1_id                                   int64
team1_roster_ids                          object
team2                                     object
team2_id                                   int64
team2_roster_ids                          object
winner                                    object
winner_id                                  int64
toss winner                               object
toss decision                             object
venue                                     object
city                                      object
match_dt                          datetime64[ns]
lighting                                  object
series_name                               object
season                                    object
ground_id                                  int64
team_count_50runs_last15                 float64
team_winp_last5                          float64
team1only_avg_runs_last15                float64
team1_winp_team2_last15                  float64
ground_avg_runs_last15                   float64
PlayersSRgreaterthan120_team1            float64
PlayersSRgreaterthan120_team2            float64
Playerseconomylessthan10_team1           float64
Playerseconomylessthan10_team2           float64
team1_avg_runs                             int64
team1_avg_wickets                          int64
team2_avg_runs                             int64
team2_avg_wickets                          int64
dtype: object

In [34]:
# Create a new target variable: 0 if team1 wins, 1 if team2 wins
train_data['toss winner'] = (train_data['toss winner'] == train_data['team2']).astype('int64')
train_data['winner'] = (train_data['winner_id'] == train_data['team2_id']).astype('int64')
y = train_data['winner']

In [35]:
train_data.drop(columns=['winner_id','winner', 'team1', 'team2','team1_roster_ids','team2_roster_ids'], inplace=True)

In [36]:
label_encoder = LabelEncoder()

categorical_columns = ['toss decision','venue', 'city', 'match_dt', 'lighting', 'series_name', 'season', 'ground_id']
for col in categorical_columns:
    train_data[col] = label_encoder.fit_transform(train_data[col])

In [37]:
train_data=train_data.drop(columns=['venue', 'city', 'match_dt', 'lighting','series_name', 'season','ground_id'])

In [38]:
train_data=train_data.drop(columns=['toss winner', 'toss decision','team1only_avg_runs_last15','ground_avg_runs_last15'])

In [58]:
#train_data=train_data.drop(columns=['PlayersSRgreaterthan120_team1', 'PlayersSRgreaterthan120_team2',
#       'Playerseconomylessthan10_team1', 'Playerseconomylessthan10_team2'])
test_data=test_data.drop(columns=['PlayersSRgreaterthan120_team1', 'PlayersSRgreaterthan120_team2',
       'Playerseconomylessthan10_team1', 'Playerseconomylessthan10_team2'])

In [39]:
train_data.columns

Index(['match id', 'team1_id', 'team2_id', 'team_count_50runs_last15',
       'team_winp_last5', 'team1_winp_team2_last15',
       'PlayersSRgreaterthan120_team1', 'PlayersSRgreaterthan120_team2',
       'Playerseconomylessthan10_team1', 'Playerseconomylessthan10_team2',
       'team1_avg_runs', 'team1_avg_wickets', 'team2_avg_runs',
       'team2_avg_wickets'],
      dtype='object')

In [40]:
X_train, X_test, y_train, y_test = train_test_split(train_data.drop(columns=['match id','team1_id', 'team2_id']), y, test_size=0.2, random_state=42)

In [41]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score, classification_report

In [42]:
gbm = GradientBoostingClassifier(n_estimators=300, learning_rate=0.5, max_depth=10, random_state=0)
gbm.fit(X_train, y_train)

GradientBoostingClassifier(learning_rate=0.5, max_depth=10, n_estimators=300,
                           random_state=0)

In [43]:
gbm.score(X_test, y_test)

0.5789473684210527

In [54]:
gbm = GradientBoostingClassifier(n_estimators=300, learning_rate=0.5, max_depth=10, random_state=0)
gbm.fit(train_data.drop(columns=['match id','team1_id', 'team2_id']), y)

GradientBoostingClassifier(learning_rate=0.5, max_depth=10, n_estimators=300,
                           random_state=0)

In [55]:
def get_top_features(model, feature_names, n=10):
    feature_importances = model.feature_importances_
    feature_importance_df = pd.DataFrame({'Feature': feature_names, 'Importance': feature_importances})
    feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False).reset_index(drop=True)
    top_features = feature_importance_df.loc[:n-1, 'Feature'].tolist()
    return top_features

In [56]:
feature_names = train_data.drop(columns=['match id','team1_id', 'team2_id']).columns
top_features = get_top_features(gbm, feature_names, n=10)

In [59]:
# Predict probabilities for test_data
probabilities = gbm.predict_proba(test_data.drop(columns=['match id','team1_id', 'team2_id']))

In [60]:
submission_template_file1=pd.read_csv(r"C:\Users\varun\Downloads\6645b7f8b0de7_sample_template\sample_template\submission_template_file1.csv")
submission_template_file2=pd.read_csv(r"C:\Users\varun\Downloads\6645b7f8b0de7_sample_template\sample_template\submission_template_file2.csv")

In [61]:
for idx, match_id in enumerate(test_data['match id']):
    
    index = submission_template_file1.index[submission_template_file1['match id'] == match_id].tolist()[0]
    
    predicted_winner = gbm.classes_[probabilities[idx].argmax()]
    predicted_score = probabilities[idx].max()
    
    # Get team1_id and team2_id for this match_id
    team1_id = test_data.loc[test_data['match id'] == match_id, 'team1_id'].values[0]
    team2_id = test_data.loc[test_data['match id'] == match_id, 'team2_id'].values[0]
    
    # Determine the winning team's ID based on the prediction
    winner_id = team1_id if predicted_winner == 0 else team2_id
    
    submission_template_file1.at[index, 'win_pred_team_id'] = winner_id
    submission_template_file1.at[index, 'win_pred_score'] = predicted_score
    
    # Retrieve values of top features for this match_id from test_data
    top_feature_values = test_data.loc[test_data['match id'] == match_id, top_features].values.flatten()
    
    # Assign top feature values to corresponding columns in results_df
    for i, feature in enumerate(top_features):
        submission_template_file1.at[index, f'{feature}_value'] = top_feature_values[i]

In [62]:
probabilities = gbm.predict_proba(train_data.drop(columns=['match id','team1_id', 'team2_id']))

In [63]:
for idx, match_id in enumerate(train_data['match id']):
    
    index = submission_template_file1.index[submission_template_file1['match id'] == match_id].tolist()[0]
    
    predicted_winner = gbm.classes_[probabilities[idx].argmax()]
    predicted_score = probabilities[idx].max()
    
    # Get team1_id and team2_id for this match_id
    team1_id = train_data.loc[train_data['match id'] == match_id, 'team1_id'].values[0]
    team2_id = train_data.loc[train_data['match id'] == match_id, 'team2_id'].values[0]
    
    # Determine the winning team's ID based on the prediction
    winner_id = team1_id if predicted_winner == 0 else team2_id
    
    submission_template_file1.at[index, 'win_pred_team_id'] = winner_id
    submission_template_file1.at[index, 'win_pred_score'] = predicted_score
    
    # Retrieve values of top features for this match_id from test_data
    top_feature_values = train_data.loc[train_data['match id'] == match_id, top_features].values.flatten()
    
    # Assign top feature values to corresponding columns in results_df
    for i, feature in enumerate(top_features):
        submission_template_file1.at[index, f'{feature}_value'] = top_feature_values[i]

In [64]:
submission_template_file1=submission_template_file1.drop(columns=['indep_feat_id1','indep_feat_id2', 'indep_feat_id3',
       'indep_feat_id4', 'indep_feat_id5', 'indep_feat_id6', 'indep_feat_id7',
       'indep_feat_id8', 'indep_feat_id9', 'indep_feat_id10'])

In [65]:
submission_template_file1.columns

Index(['match id', 'dataset_type', 'win_pred_team_id', 'win_pred_score',
       'train_algorithm', 'is_ensemble', 'train_hps_trees', 'train_hps_depth',
       'train_hps_lr', 'team_count_50runs_last15_value',
       'team1_avg_runs_value', 'team2_avg_runs_value', 'team_winp_last5_value',
       'team2_avg_wickets_value', 'team1_avg_wickets_value',
       'team1_winp_team2_last15_value'],
      dtype='object')

In [66]:
submission_template_file1['train_algorithm']='GBM'
submission_template_file1['is_ensemble']='no'
submission_template_file1['train_hps_trees']=300
submission_template_file1['train_hps_depth']=10
submission_template_file1['train_hps_lr']=0.5

In [67]:
submission_template_file1

,match id,dataset_type,win_pred_team_id,win_pred_score,train_algorithm,is_ensemble,train_hps_trees,train_hps_depth,train_hps_lr,team_count_50runs_last15_value,team1_avg_runs_value,team2_avg_runs_value,team_winp_last5_value,team2_avg_wickets_value,team1_avg_wickets_value,team1_winp_team2_last15_value
0,9250275,r1,90.0,0.863122,GBM,no,300,10,0.5,0.000000,141.0,161.0,0.019608,7.0,4.0,0.00
1,9262189,r1,36098.0,1.000000,GBM,no,300,10,0.5,0.615385,154.0,159.0,0.344262,7.0,6.0,66.67
2,9128776,r1,30428.0,0.823219,GBM,no,300,10,0.5,0.842105,167.0,171.0,0.753086,6.0,6.0,100.00
3,9586919,r1,36098.0,0.999980,GBM,no,300,10,0.5,0.285714,159.0,157.0,1.487805,6.0,7.0,75.00
4,9128538,r1,30414.0,0.999998,GBM,no,300,10,0.5,2.375000,173.0,171.0,0.310330,5.0,5.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1214,9128601,train,30407.0,1.000000,GBM,no,300,10,0.5,0.823529,145.0,165.0,1.000000,6.0,9.0,66.67
1215,9433241,train,9701.0,1.000000,GBM,no,300,10,0.5,1.571429,154.0,152.0,0.012346,6.0,7.0,0.00
1216,9097227,train,23869.0,1.000000,GBM,no,300,10,0.5,3.000000,146.0,138.0,1.000000,6.0,5.0,0.00
1217,9516695,train,36014.0,1.000000,GBM,no,300,10,0.5,0.789474,180.0,167.0,1.487805,6.0,5.0,66.67
1218,9433633,train,7608.0,1.000000,GBM,no,300,10,0.5,4.000000,162.0,140.0,1.975610,8.0,5.0,100.00

In [68]:
from IPython.display import FileLink

# Save DataFrame to Excel file
submission_template_file1.to_excel('primary1.xlsx', index=False)
# Create a link to download the dataframe
FileLink('primary1.xlsx')

C:\Users\varun\primary1.xlsx

In [69]:
submission_template_file2.columns

Index(['feat_id', 'feat_name', 'feat_description', 'model_feat_imp_train',
       'feat_rank_train'],
      dtype='object')

In [70]:
def get_feature_importance_df(model, feature_names):
    feature_importances = model.feature_importances_
    feature_importance_df = pd.DataFrame({
        'feat_name': feature_names,
        'model_feat_imp_train': feature_importances
    })
    feature_importance_df['feat_rank_train'] = feature_importance_df['model_feat_imp_train'].rank(ascending=False)
    feature_importance_df = feature_importance_df.sort_values(by='model_feat_imp_train', ascending=False).reset_index(drop=True)
    return feature_importance_df

In [71]:
feature_names = train_data.drop(columns=['match id','team1_id', 'team2_id']).columns
feature_importance_df = get_feature_importance_df(gbm, feature_names)

In [72]:
submission_template_file2 = pd.DataFrame({
    'feat_id': range(1, len(feature_names) + 1),  # Assuming feat_id is sequential
    'feat_name': feature_importance_df['feat_name'],
    'feat_description': ['Description not available'] * len(feature_names),  # Placeholder if descriptions are not available
    'model_feat_imp_train': feature_importance_df['model_feat_imp_train']*100,
    'feat_rank_train': feature_importance_df['feat_rank_train']
})

In [73]:
submission_template_file2

,feat_id,feat_name,feat_description,model_feat_imp_train,feat_rank_train
0,1,team_count_50runs_last15,Description not available,23.945073,1.0
1,2,team1_avg_runs,Description not available,22.338201,2.0
2,3,team2_avg_runs,Description not available,19.552012,3.0
3,4,team_winp_last5,Description not available,14.353748,4.0
4,5,team2_avg_wickets,Description not available,6.799091,5.0
5,6,team1_avg_wickets,Description not available,6.562071,6.0
6,7,team1_winp_team2_last15,Description not available,6.449803,7.0

In [74]:
from IPython.display import FileLink

# Save DataFrame to Excel file
submission_template_file2.to_excel('secondary1.xlsx', index=False)
# Create a link to download the dataframe
FileLink('secondary1.xlsx')

C:\Users\varun\secondary1.xlsx

In [78]:
gbm.score(train_data, y)

1.0

In [79]:
probabilities = gbm.predict_proba(train_data)

In [82]:
probabilities[3]

array([2.77821299e-09, 9.99999997e-01])

In [61]:
import numpy as np

# Get feature importances
feature_importances = gbm.feature_importances_

feature_importances_percentage = 100.0 * (feature_importances / feature_importances.sum())

# Sort feature importances in descending order
sorted_idx = np.argsort(feature_importances_percentage)[::-1]

# Print feature importances in percentage
for i in sorted_idx:
    print(f"Feature {i}: {feature_importances_percentage[i]:.2f}%")

Feature 7: 15.64%
Feature 0: 14.77%
Feature 9: 13.08%
Feature 1: 10.94%
Feature 3: 8.11%
Feature 4: 6.99%
Feature 10: 6.82%
Feature 8: 6.50%
Feature 5: 6.40%
Feature 6: 5.75%
Feature 2: 4.99%

In [67]:
from sklearn.model_selection import GridSearchCV
gbm = GradientBoostingClassifier()

# Define the parameter grid
param_grid = {
    'n_estimators': [100, 200, 300,400,500],
    'learning_rate': [2, 3, 1,0.5,4],
    'max_depth': [2,3, 4, 5,6,10]
}

# Set up GridSearchCV
grid_search = GridSearchCV(estimator=gbm, param_grid=param_grid, cv=3, scoring='accuracy', n_jobs=-1, verbose=1)

# Fit GridSearchCV
grid_search.fit(X_train, y_train)

# Get the best parameters and the best score
best_params = grid_search.best_params_
best_score = grid_search.best_score_

print("Best Parameters:", best_params)
print("Best Score:", best_score)

# Evaluate the model with the best parameters on the test set
best_model = grid_search.best_estimator_
test_score = best_model.score(X_test, y_test)

print("Test Score:", test_score)

Fitting 3 folds for each of 150 candidates, totalling 450 fits
Best Parameters: {'learning_rate': 1, 'max_depth': 10, 'n_estimators': 500}
Best Score: 0.5738544868979651
Test Score: 0.5789473684210527

In [62]:
pip install xgboost

Requirement already satisfied: xgboost in c:\users\varun\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: numpy in c:\users\varun\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in c:\users\varun\anaconda3\lib\site-packages (from xgboost) (1.7.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [63]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

# Define the model
model = XGBClassifier()

# Train the model
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.52

In [65]:
from sklearn.model_selection import GridSearchCV

# Define the model
model = XGBClassifier()

# Define the parameter grid
param_grid = {
    'max_depth': [3, 4, 10],
    'learning_rate': [1, 0.5, 5],
    'n_estimators': [100, 200, 300]
}

# Perform grid search
grid_search = GridSearchCV(estimator=model, param_grid=param_grid, scoring='accuracy', cv=3, verbose=1)
grid_search.fit(X_train, y_train)

# Print best parameters
print(f'Best parameters found: {grid_search.best_params_}')

# Evaluate the best model
xgb = grid_search.best_estimator_
accuracy = accuracy_score(y_test, xgb.predict(X_test))
print(f'Accuracy of the best model: {accuracy:.2f}')

Fitting 3 folds for each of 27 candidates, totalling 81 fits
Best parameters found: {'learning_rate': 0.5, 'max_depth': 4, 'n_estimators': 100}
Accuracy of the best model: 0.48

In [66]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold, cross_val_predict
import numpy as np

# Stack predictions from base models
X_train_stack = np.column_stack((gbm.predict_proba(X_train)[:, 1], xgb.predict_proba(X_train)[:, 1]))
X_test_stack = np.column_stack((gbm.predict_proba(X_test)[:, 1], xgb.predict_proba(X_test)[:, 1]))

# Train meta-model
meta_model = LogisticRegression()
meta_model.fit(X_train_stack, y_train)

# Make predictions with meta-model
stacked_pred = meta_model.predict(X_test_stack)

# Evaluate stacked model
stacked_accuracy = accuracy_score(y_test, stacked_pred)
print(f'Stacked Model Accuracy: {stacked_accuracy:.2f}')

Stacked Model Accuracy: 0.57

In [45]:
pip install lightgbm

Collecting lightgbm
  Obtaining dependency information for lightgbm from https://files.pythonhosted.org/packages/e1/4c/4685ccfae9806f561de716e32549190c1f533dde5bcadaf83bdf23972cf0/lightgbm-4.3.0-py3-none-win_amd64.whl.metadata
  Downloading lightgbm-4.3.0-py3-none-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy in c:\users\varun\anaconda3\lib\site-packages (from lightgbm) (1.21.5)
Requirement already satisfied: scipy in c:\users\varun\anaconda3\lib\site-packages (from lightgbm) (1.7.3)
Downloading lightgbm-4.3.0-py3-none-win_amd64.whl (1.3 MB)
   ---------------------------------------- 1.3/1.3 MB 2.4 MB/s eta 0:00:00
Installing collected packages: lightgbm
Successfully installed lightgbm-4.3.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [47]:
import lightgbm as lgb
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

# Create dataset for LightGBM
train_data = lgb.Dataset(X_train, label=y_train)
test_data = lgb.Dataset(X_test, label=y_test, reference=train_data)

# Set parameters
params = {
    'objective': 'binary',  # for binary classification
    'boosting_type': 'gbdt',
    'metric': 'binary_logloss',
    'num_leaves': 31,
    'learning_rate': 0.05,
    'feature_fraction': 0.9
}

# Train the model
bst = lgb.train(params, train_data, valid_sets=[train_data, test_data], num_boost_round=100)

# Make predictions
y_pred = bst.predict(X_test, num_iteration=bst.best_iteration)
y_pred_labels = (y_pred > 0.5).astype(int)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred_labels)
print(f'Accuracy: {accuracy:.2f}')

[LightGBM] [Info] Number of positive: 373, number of negative: 385
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.000329 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 399
[LightGBM] [Info] Number of data points in the train set: 758, number of used features: 11
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.492084 -> initscore=-0.031665
[LightGBM] [Info] Start training from score -0.031665
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
Accuracy: 0.56